#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# editor files
*.vscode

# direnv file
*.direnv
*.envrc

# zip file
*.zip

# key file
*.key
*.pub

# example file
backend.tf
provider.tf
terraform.tfvars
notifier.tf
receiver.tf
example-slack-lambda.tf

# Lock File
.terraform.lock.hcl